
#shop_box{
    /* border: 1px solid black; */
    display: flex;
    width:85%;
    margin:auto;
    justify-content: space-between;
}

#shop_container{
    /* border:1px solid rgb(220, 96, 96); */
    width:75%;
}
#shop_container>#shop_upbar{
/* border: 1px solid orange; */
display: flex;
justify-content: space-between;
align-items: center;
}
/* sorting functionality */
#shop_sorting{
border: 1px solid rgb(189, 182, 182);
width:230px;
height: 50px;
}

#shop_shop{
color:  rgb(166, 161, 161);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';

}
#shop_shop>h1{
    color: black;
}
#shop_shop>p{
   font-size: 14px;
}

 /* appending shop items */
#shop_items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
}
#shop_items>div{
   
    font-family: 'Jost', Arial, sans-serif;
}
#shop_items>div>img{
    width:100%;
    height: 280px;
    
}
#shop_items>div>p{
    margin: 0px 30px 0px 30px;
    text-align: center;
   
}

#shop_items>div>#price_div{
    display: flex;
    width:170px;
    margin: auto;
    justify-content: space-around;
}
.sale{
    display: flex;
    margin-top: 18px;
    width: 50px;
    height: 19px;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    position: absolute;
    font-family: 'Jost', Arial, sans-serif;
}

.quick_view{
    display: flex;
    width:19.5%;
    height: 41px;
    background-color: black;
    margin-top: -45px;
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', Arial, sans-serif;
    opacity: 0.0;
   
}
/* .quick_view:hover{
    display: flex;
    width:19.5%;
    height: 41px;
    background-color: black;
    margin-top: -45px;
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', Arial, sans-serif;
    opacity: 1.0;
} */

.heart{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 16%;
    margin-top: 30px;
    background-color:white;
    /* font-size: 20px; */
    /* color: white;
  
    border-radius: 50%;
   ;
     */
    opacity: 0.0; 
}

.bag{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 15.3%;
    margin-top: 70px;
    /* font-size: 20px; */
    /* color: white;
  
    border-radius: 50%;
    background-color:white;
     */
    opacity: 0.0; 
}
/* 
.heart:hover{
 background-color: red;
 
} */

.div_item:hover .heart{
    opacity: 1.0;
   
} 
.div_item:hover .quick_view{
    opacity: 1.0;
}

.div_item:hover .bag{
    opacity: 1.0;
   
}
/* 
.heart:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 16%;
    margin-top: 30px;
    font-size: 20px;
    color: white;
    width:40px;
    height: 35px;
    border-radius: 50%;
    background-color: red;
    opacity: 1.0; 
}
 */


#select_short{
    border: none;
    display: flex;
    text-align: center;
}
/* shop sidebar brands search */
#shop_sidebar{
    width:20%;
    /* border: 1px solid green; */
}
#shop_sidebar>div{
    color: rgb(116, 111, 111);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#shop_brand{
    border-bottom:1px solid rgb(201, 196, 196) ;
}
#brand_search{
    border: 1px solid rgb(203, 202, 202);
    width: 97%;
    height: 40px;
   
}
.checkbox{
   background-color: grey;
}
