
*{
    margin:0px ;
    padding:0px;
}

#container1{
    width: 99%;
    height: 40px;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    position: fixed;
  
}

#container22{
    display: flex;
    width: 100%;
    height: 90px;
    /* position: fixed;   */
    overflow: hidden;
    z-index: 2;
    background-color: white;
    position: fixed;
    border: 1px solid gainsboro;
}


.container{
    margin-top: 70px;
}


#box1{
    width: 20%;
}

#box1 img{
    width: 50%;
    margin-left: 60px;
    margin-top: 18px;
    height: 60%;
}

#box2{
    width:40%;
    display: flex;
    gap: 24px;
}

#box2>h3:first-child{
    margin-left: 50px;
}

a { 
    text-decoration: none;
    color:black;
}

#box2>h3{
    margin-top: 30px;
}

#box2>h3:hover{
    color:red;
}

#box3{
    width: 40%;
    display: flex;
}

#box3 img{
    margin-top: 30px;
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

#box3>img{
    margin-left: 10px;
}

#box3>input{
    width: 300px;
    height: 40%;
    margin-top: 20px;
}

#line{
    border: 1px solid #90949e;
}

.page:hover{
    color: red;
  
}
.container{
    width: 100%;
    height: 600px;
    
  
}
.swiper{
    width:100%;
    height:fit-content;
}
.swiper-slide img{
    width: 100%;
    height:500px;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color:black;

}
.swiper .swiper-pagination-bullet-active{
    background: white;
}

#container2{
    
    height: 400px;
    width: 100%;
    margin-top: -50px;
    display: flex;
    justify-content: space-around;
    
}
.box2{
    width:31%;
    text-align: center;

}
a{
    color: black;
    text-decoration: none;
    
}
.box2 a:hover{
    color:red;
    text-decoration: underline;
}
.image{
    width:100%;
    height:300px;
    transform: all 600ms;
}
.image:hover{
    transform: scale(1.1);
     transform: all 600ms;
}
#head{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}
#head2{
    width: 20%;
    
    display: flex;
    
    margin: auto;
    /* margin-top: -10px; */
    justify-content: space-around;
}
#head2 a{
    font-size: 18px;
    
}
#head2 a:hover{
    color:red;
    text-decoration: underline;

}
#categories{
    
    width:84%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    grid-row-gap: 100px;
    grid-column-gap: 30px;
    margin-top: 60px;
}


.cImage{
    width: 100%;
    transition: all 600ms;
}
.cImage:hover{
    transform: scale(1.1);
    transition: all 600ms;
}
.catDiv{
    
    margin-top: -80px;
    position: absolute;
    height: 100px;
    background-color: white;
    width: 400px;
    margin-left:70px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.catP1{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;

}
.catP2{
    margin-top: 25px;
    font-size: 17px;
    /* font-weight: bold; */
    line-height: 10px;


    
}

#head3{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 50px;
}
#product{
    width:84%;
    display: flex;
    margin: auto;
    gap:30px;
    text-align: center;
    
    justify-content: space-between;
}
.pImage{
    width: 99%;
    height:380px;
    
}
.pro{
    
    width:31%;
}
.pro1{
    font-weight: bold;
    font-size: 18px;
}
.pro2{
    
    display: inline-block;
    color: grey;
    margin-top: -15px;
}
.pro3{
    display: inline-block;
    color: red;
    margin-left: 4px;
    margin-top: -15px;
}
.proSale{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:absolute;
    margin-top: -370px;
    color: white;
    background-color: black;
    font-size: 12px;
    padding: 3px 10px;
}
.card {
    width: 100%;
    height: 195px;
    position: relative;
    display: inline-block;
}
.card .img-top {
    display: none;
    position:absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 380px;
    
}
.card:hover .img-top {
    display: inline;
    cursor: pointer;
}
#head4{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    
}
#newArrival{
    width:100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    text-align: center;

}
.new{
    
    width:15%;
}
#newArrival img{
    width:100%;
}
.newSale{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:absolute;
    margin-top: -190px;
    color: white;
    background-color: black;
    font-size: 12px;
    padding: 3px 10px;
}
#head5{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    margin-top: 100px;
    
}
#para{
    width: 84%;
    text-align: justify;
    margin: auto;
    color: grey;
    font-size: 20px;
}
#benefits{
    width:84%;
    display: flex;
    height:500px;
   
    margin: auto;
    margin-top: 50px;
}
#b1{
    width: 50%;
}
#b2{
    width: 50%;
}
#b2 img{
    height: 100%;
    width: 100%;
}
#p1{
    font-size: 33px;
    font-weight: bold; 
}
.p{
    color: grey;
    font-size: 18px;
    line-height: 30px;
}
#b1>button{
    background-color: black;
    color:white;
    margin-top: 20px;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
#facilities{
    
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 84%;
    justify-content: space-between;
    line-height: 10px;
    padding-bottom: 30px;
}
.bImage{
    display: inline-block;
   

}
    
    

.pa{
    
    display: inline-block;
    font-size: 15px;
    width: 200px;
    margin-left: 10px;
    padding-top: -20px;
    
}
.pa>p:first-child{
    font-weight: bold;
}
.pa>p:last-child{

    color:grey;

}
#f1{
    width: 100%;
    height: 170px;

    
}
#f1>p {
    text-align: center;
    font-size: 25px;
    color:white;
    padding-top: 30px;
    
    
}
#f1>input{
    width:30%;
    height:30%;
    margin-left: 30%;
    padding-left: 20px;
    background-color: white;
    color: black;
    border: 1px solid #303030;
    
    font-size: 16px;


}
#f1>button{
    height:31%;
    width:10%;
    background-color: white;
    border: 1px solid transparent;
    font-size: 16px;
    color:black;
    cursor: pointer;
}
#f2{
    display: flex;
    width:100%;
   


}
#f2a{
    
    width:26%;
   

}
#f2b{
    
    width:16%;
}
#f2c{
    
    width:16%;
}
#f2d{
    
    width:16%;
}
#f2e{
    
    width:26%;
}
#fLogo{
    width:80%;
    padding-top:40px;
    padding-left: 45px;
}
.f2alogo{
    width:30px;
    height:30px;
    margin-top: 20px;
    

}
#fb{
    padding-left: 45px;

}
.f2bP{
    margin-top: 40px;
    color:white;
    font-size: 20px;
}
.fp{
    margin-top: 20px;
    color:white;
    font-size: 17px;
   line-height: 13px;
}
.fa{
    text-decoration: none;
}
.fa:hover{
    color: white;
    
    
}
.fpp{
    color:white;
}
.fpp:hover{
    transform: scale(1.2);
}
#backImg{
    background-image: 
              url("https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77700460180.jpg");
              background-repeat: no-repeat;
              background-size: 100% 100%;
}
#f3{
    display: flex;
    margin-top: 30px;
}
.f3alogo{
    width:30px;
    height:30px;
   
    

}
#f3a{
    width:80%;
    color:white;
    padding-left: 45px;

}
#f3b{
    width:20%;
    margin-top: 10px;
    
}
.scrollTop{
    position: fixed;
    bottom: 800px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color:black;
    border-radius: 50%;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.scrollTop.active{
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}
.arrow{
    margin-left: 12px;
    margin-top: 08px;
    color: white;
    font-size: 16px;
}


/* dropdown */
.dropbtn {
    margin-top: 13px;
    padding: 16px;
    font-size: 20px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* .dropdown-content a:hover {background-color: #ddd;} */
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */